@font-face {
    font-family: "PassionOne-Bold";
    src: url("../../../assets/fonts/PassionOne-Bold.ttf");  
}

@font-face {
    font-family: "Alfa-Slab-One";
    src: url("../../../assets/fonts/AlfaSlabOne-Regular.ttf");  
}

.succesEmail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #400161;
}

.succesEmail button{
    font-family: "PassionOne-Bold";
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    margin: 3.5vw;
    height: 3vw;
    min-height: 25px;
    width: auto;
    padding: 15px;
    border-radius: 20px;
    background: #ffffff;        
    color: #400161;
    font-size: clamp(12px, 1.5vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    width: 2vw;
}

.succesEmail h1{
    width: 40vw;
    height: auto;
    margin: 0;
    margin-right: 6vw;
    color: #ffffff;
    text-align: center;    
    text-wrap: balance;
    font-family: "Alfa-Slab-One";
    font-size: clamp(10px, 4vw, 40px);
}

.succesEmail .alienSticker{
    height: 12vw;    
    position: fixed;
    bottom: 4%;
    right: 35%;
    transform: rotate(-12deg);
}



@media (650px < width <= 866px) {
    .succesEmail{        
        width: 230vw;
        display: flex;
        justify-content: flex-end;
    }

    .succesEmail h1{
        width: 100vw;
        height: auto;
        margin: 0;
    }

    .succesEmail .alienSticker{
        height: 20vw;
        bottom: 6%;
        left: 10%;
        transform: rotate(-12deg);
    }
}

@media (width <= 650px) {
    
    .succesEmail{        
        width: 250vw;
        display: flex;
        justify-content: flex-end;
    }
    
    .succesEmail h1{
        font-size: clamp(10px, 7vw, 30px);
        width: 100vw;
        height: auto;
        margin: 0;
        padding: 0 4vw;
    }

    .succesEmail .alienSticker{
        height: 20vw;
        bottom: 6%;
        left: 10%;
        transform: rotate(-12deg);
    }
}

@media (750px <= width <= 1024px) and (height >= 1000px){ 

    .succesEmail {
        width: 250vw;
        display: flex;
        justify-content: flex-end;
    }

    .succesEmail h1{
        font-size: clamp(10px, 7vw, 50px);
        width: 100vw;
        height: auto;
        margin: 0 ;
        padding: 0 2vw;
    }

    .succesEmail .alienSticker{
        height: 20vw;
        bottom: 6%;
        left: 10%;
        transform: rotate(-12deg);
    }
}

