@font-face {
    font-family: "NotoSans-SemiBoldItalic";
    src: url("../../../assets/fonts/NotoSans-SemiBoldItalic.ttf");  
}

.errorMessage{
    font-family: "NotoSans-SemiBoldItalic";
    width: auto;
    color: rgb(37, 37, 37);
    text-align: center;    
    margin-bottom: 2vh;
    background-color: rgb(255, 81, 81);
    border-radius: 2px;
    padding: 1vh 2vw;
    border: 1px solid rgb(199, 199, 199);
    font-size: clamp(10px, 1.5vw, 15px);
}

//smartphones
@media (width <= 650px) {

    .errorMessage{
        font-size: clamp(10px, 3vw, 14px);
    }
}

