@font-face {
    font-family: "NotoSans-SemiBoldItalic";
    src: url("../../../assets/fonts/NotoSans-SemiBoldItalic.ttf");  
}

.projectCardContainer{
    background-color:rgb(204, 243, 153) ;
    width: 35vw;
    height: 18vw;
    border-radius: 25px;   
    border: 4px solid white;
    font-family: "NotoSans-SemiBoldItalic";
}

.projectCardCoreInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCardCoreInfo a{
    margin: 0;
    padding: 0;
}



@keyframes bounce {
    0% {
      transform: translateY(-37px);
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    }
    
    50% {
      transform: translateY(-45px); 
      box-shadow: 4px 13px 10px rgba(0, 0, 0, 0);
    }
   
    100% {
      transform: translateY(-37px);
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
    }
}

.projectCardCoreInfo a img{
    height: 15vw;
    border: 4px solid white;
    border-radius: 50%;
    transform: translateY(-37px);
    margin-left: 20px;       
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);  
    //background-color: #F0C48A;
}


.bounceAnimation {
    animation: bounce 1.5s infinite;
}

.projectCardCoreInfo p {
    width: 15vw;
    max-height: 10vw;
    text-wrap: balance;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    color: rgb(36, 36, 36);
    font-size: clamp(11px, 1.5vw, 20px);
}

.technologies{   
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    transform: translateY(-1.6vw);
}

.technologies img{    
    height: 2.5vw;
    margin-right: 1.5vw;
    outline: 2px solid white;
    border-radius: 50%;
   
       
}


//smartphones
@media (width <= 650px) {

    .projectCardContainer{
        width: 62vw;
        height: 30vw;  
    }

    .projectCardCoreInfo a img{
        height: 28vw;
        margin-left: 2px;
        
    }

    .projectCardCoreInfo p {
        width: 25vw;
        max-height: 22vw;
        font-size: clamp(11px, 1.3vw, 15px);
        margin: 0;
        margin-bottom: 15px;
    }

    .technologies{      
        transform: translateY(-6vw);
    }
    
    .technologies img{    
        height: 3.5vw;
    }

}


//ipads
@media (750px <= width <= 1024px) and (height >= 1000px){  

    .projectCardContainer{
        width: 40vw;
        height: 19vw;  
    }

    .projectCardCoreInfo a img{
        height: 17.5vw;
    }

    .technologies{      
        transform: translateY(-3vw);
    }
    
    .technologies img{    
        height: 2.5vw;
    }

}