// *{  
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     user-select: none;
//     cursor:url("../sources/cursor1.png"), auto;
    
    
// }
// html,body{
//     overflow: hidden;
// }

.appContainer{
    height: 100dvh;
    width: 100vw;
    background-color: rgb(18, 11, 27);
    overflow: hidden;
    position: relative;
    cursor:url("../sources/cursor1.png"), auto;
    overflow: hidden;
    
    
}


